<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <% include ../partials/head.ejs %>
        <title></title>
    </head>
    <body>
        <h1>New Roast Entry</h1>
        <form action="/roast" method="POST">
            Rating (0-10): <input type="number" name="rating" /><br/>
            Origin: <input type="text" name="origin" /><br/>
            Date: <input type="text" name="date" /><br/>
            Roaster: <input type="text" name="roaster" /><br/>
            Roaster(machine): <input type="text" name="roasterMac" /><br/>
            Batch Size: <input type="text" name="batchSize" /><br/>
            Load Temp: <input type="text" name="loadTemp" /><br/>
            1st Crack Time: <input type="text" name="firCracTime" /><br/>
            1st Crack Temp: <input type="text" name="firCracTemp" /><br/>
            Drop Time: <input type="text" name="dropTime" /><br/>
            Drop Temp: <input type="text" name="dropTemp" /><br/>
            Final Weight: <input type="text" name="finalWeight" /><br/>
            Extra Notes/Adjustments: <input type="text" name="extNot" /><br/>
            <br/>
            <input type="submit" value="Create Roast" />
        </form>
    </body>
</html>
