<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./partials/head.ejs %>
  </head>
  <body style="align-text:center width:100%">
    <div class="head">
        <h1>Coffee Wheel</h1>
        <img src="" alt="Not Available"><br/><br/>
        <a href="/profiles/new" class="waves-effect waves-light btn">Log a Coffee</a><br/><br/>
    </div>
    <div class="profiles">
      <% for(let i = 0; i < profile.length; i++){ %>
          <a href="/profiles/<%=profile[i].id%>"><%=profile[i].origin%> : <%=profile[i].date%>
      <% } %>
          </a>
    </div>
  </body>
</html>
