<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <h1>New Cup Entry</h1>
        <form action="/profiles" method="POST">
            Rating (0-10): <input type="number" min="1" max= "10" name="rating" /><br/>
            Origin: <input type="text" name="origin" /><br/>
            Date: <input type="text" name="date" /><br/>
            Brew Place: <input type="text" name="brewPlace" /><br/>
            Roaster: <input type="text" name="roaster" /><br/>
            Method: <input type="text" name="method" /><br/>
            Note 1: <input type="text" name="note1" /><br/>
            Note 2: <input type="text" name="note2" /><br/>
            Note 3: <input type="text" name="note3" /><br/>
            Process: <input type="text" name="process" /><br/>
            Roast Date: <input type="text" name="roastDate" /><br/>
            Water Temp: <input type="text" name="waterTemp" /><br/>
            Time: <input type="text" name="time" /><br/>
            Ratio: <input type="text" name="ratio" /><br/>
            <br/>
            <input type="submit" value="Create Cup" />
        </form>
    </body>
</html>
