<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My App</title>
      <% include ../views/partials/head.ejs %>
  </head>
  <header>
    <h1>Coffee Brain</h1>
    <img src = "../coffee-brain.png" alt="Not Availle" style= "width: 15em"><br/><br/>
  </header>
  <body>
    <div class="container">
      <h2>
        <%if (currentUser) {%>
        Welcome <br/><%= currentUser.username%></h2><br/>
        <a href="/app" class="waves-effect waves-light btn">Start Logging</a>
        <br/>
        <br/>
        <form action="/sessions?_method=DELETE" method="post">
          <input type="submit" value="Logout" class="waves-effect waves-light btn">
        </form>

        <%} else {%>
          <h2>Please</h2>
          <a href="/users/new" class="waves-effect waves-light btn">Sign up</a>
          <h3>or</h3>
          <a href="/sessions/new" class="waves-effect waves-light btn">Log In</a>
        <%}%>
    </div>
  </body>
</html>
