.container {
    align-items: center;
    text-align: center;
}
img {
    width: 65%;
}

.baristas {
    display: flex;
    flex-direction: column;
}
value {
    text-align: center;
}

* {
    align-items: center;
    text-align: center;
}
.roasters {
    display: flex;
    flex-direction: column;
}

a {
  font-size: 1.25em;
  background-color: white;
  width: 17em;
  border-radius: 12px;
}

body {
  width: 100%;
  font-size: 1.5em;
  align-items: baseline;
}

.proRo {
    display: flex;
    flex-wrap: wrap;
    display: inline-grid;
    height: 7em;
    width: 60%;
    overflow: auto;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(230, 87, 96);
    justify-content: center;
    box-shadow: 5px 10px #888888;

  }

p {

}

.head {
  display: flex;
  justify-content: center;
}

h4 {
  font-size: 2em;
}
@media only screen
  and (max-device-width: 900px)
  /* and (max-device-height:720px) */
  and (-webkit-min-device-pixel-ratio: 1) {

}
