.container {
    align-items: center;
    text-align: center;
}
img {
    width: 65%;
}

.baristas {
    display: flex;
    flex-direction: column;
}
value {
    text-align: center;
}

* {
    align-items: center;
    text-align: center;
}
.roasters {
    display: flex;
    flex-direction: column;
}
